<ul class='ui basic segment category'>
	{{#each}}
	<li class='ui segment'>
		<div class='ui green ribbon label'>{{category_name}}</div>
		<ul class='ui items items'>
			{{#each this.products}}
			{{render 'products/product' this}}
			{{/each}}
		</ul>
	</li>
	{{/each}}
</ul>
<div class='ui purple inverted segment'>
	<div class='ui three column grid'>
		<div class='column'>
		</div>
		<div class='column'>
			<button class='fluid ui green  button' {{action 'generateInvoice'}} >
				<i class='icon file'></i>
				Generate Invoice
			</button>
		</div>
		<div class='column'>
		</div>
	</div>
</div>
