<div class='panel panel-default products'>
	<div class='panel-heading'>
		<h2 class='panel-title'>Our Prodcuts</h2>
	</div>
	<div class='panel-body'>
		<p>{{foo}}</p>
		<ul class='row'>
			{{#each}}
			{{render 'products/product' this}}
			{{/each}}
      </li>
  </div>
</div>
