<ul class='ui basic segment category'>
	{{#each}}
	<li class='ui segment'>
		<div class='ui green ribbon label'>{{category_name}}</div>
		<ul class='ui items items'>
			{{#each this.products}}
			{{render 'products/product' this}}
			{{/each}}
		</ul>
	</li>
	{{/each}}
</ul>
<div class='ui segement'>
	<button {{action 'generateInvoice'}} >Generate Invoice</button>
</div>
