<li class='col-md-4'>
	<div class='thumbnail'>
		<img {{bind-attr src=url alt=alt}} />
	</div>
	<div class='caption'>
		<h3 class='name-me'>{{name}}</h3>
		<p>{{description}}</p>
		<div class='row no-gutter'>
			<div class='col-xs-offset-6 col-xs-3'>
				<div class='input-group spinner'>
					<input class='form-control' type='number' step='1' {{bind-attr value=amount }}/>
					<div class='input-group-btn-vertical'>
						<button class='btn btn-default'><i class='fa fa-caret-up'></i></button>
						<button class='btn btn-default'><i class='fa fa-caret-down'></i></button>
					</div>
				</div>
			</div>
			<div class='col-xs-3'>
				<button class='btn btn-primary'>Buy</button>
			</div>
		</div>
	</div>
</li>
