<li class='item'>
	<div class='image'>
		<img {{bind-attr src=url alt=alt }} />
		<a class='like ui corner label'>
			<i class='like icon'></i>
		</a>
	</div>
	<div class='content'>
		<h3 class='name'>{{name}}</h3>
		<p class='description'>{{description}}</p>
		<div class='ui grid'>
			<div class='right floated nine wide column'>
				<div class='ui two column grid'>
					<div class='column'>
						<div class='ui small input '>
							<input type='number' value='0' />
						</div>
					</div>
					<div class='column'>
							<button class='ui small primary button column'>Add</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</li>
