<header>
	<div class='logo'>
		{{#link-to 'index'}}
		<!-- <i class='home icon'></i>Home -->
		<div class='img'>
			<img alt='logo of united resource co ltd' src='img/logo-banner.png'>
		</div>
		{{/link-to}}
	</div>
	<div class='ui menu bar'>
		{{#link-to 'products' classNames='item'}}
		<i class='gift baisc icon'></i>Produdcts {{/link-to}}
		{{#link-to 'about' classNames='item'}}
		<i class='info basic icon'></i>About us
		{{/link-to}}
		{{#link-to 'contact' classNames='item'}}
		<i class='mail icon'></i>Contact us
		{{/link-to}}
		<div class='right item'>
			<div class='ui button'>
				<i class='cart icon'></i>
				<div class='floating ui red circular label'>10</div>
			</div>
		</div>
		<div class='right item'>
			<div class='ui vertical animated button'>
				<div class='visible content'>
					<i class='user icon'></i>
				</div>
				<div class='hidden content'>Log In</div>
			</div>
		</div>
	</div>
</header>
