<div class='ui menu'>
	{{#link-to 'index' classNames='item'}}
	<!-- <i class='home icon'></i>Home -->
	<img alt='logo of united resource co ltd' src='img/logo-banner.png'>
	{{/link-to}}
	{{#link-to 'products' classNames='item'}}
	<i class='gift baisc icon'></i>Produdcts {{/link-to}}
	{{#link-to 'about' classNames='item'}}
	<i class='info basic icon'></i>About us
	{{/link-to}}
	{{#link-to 'contact' classNames='item'}}
	<i class='mail icon'></i>Contact us
	{{/link-to}}
</div>
