<div class='container'>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <h2 class='panel-title'>Our Company</h2>
    </div>
    <div class='panel-body'>
      <p>
        NZ MADE 2013 ltd is a professional production company in a variety of disposable cups, bowls, and other food paper container products.
      </p>
      <p>
        The company has the most advanced production equipments, efficient production lines, good quality control and reliable management team that can guarantee and deliver quality products and prompt services.The company's novel products are of unique designs with careful selection and production, supported by our creative and experienced team.  Each product reflects the company mission to deliver the finest quality products, excellent and reliable services and most importantly, to exceed customers' expectations  and satisfaction.
      </p>
    </div>
  </div>
  <hr class='featurette-divider'>
</div>
