{{outlet}}
<hr class='featurette-divider'>
<footer>
	<div class='legal center-block'>
		© 2014 Company, Inc. ·
		<a href='#'>Privacy</a>
		·
		<a href='#'>Terms</a>
    </div>
	<div class='supporter center-block'>
		<a class='btn btn-lg btn-success' href="#">
			<i class='fa fa-flag fa-2x pull-left'></i>Proudly supported by Font Awesome</a>
		</a>
	</div>
 </footer>
