    <div class='navbar navbar-default' role='navigation'>
      <div class='container-fluid'>
        <div class='navbar-header'>
          <button class='navbar-toggle' data-target='.navbar-collapse' data-toggle='collapse' type='button'>
            <span class='sr-only'>Toggle navigation</span>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
          </button>
		  {{#link-to 'index'}}
            <img alt='logo of united resource co ltd' src='img/logo-banner.png'>
          {{/link-to}}
        </div>
        <div class='collapse navbar-collapse'>
          <ul class='nav navbar-nav'>
			  {{#link-to 'products' tagName='li'}}{{#link-to 'products'}}Products{{/link-to}}{{/link-to}}
			  {{#link-to 'about' tagName='li'}}{{#link-to 'about'}}About us{{/link-to}}{{/link-to}}
			  {{#link-to 'contact' tagName='li'}}{{#link-to 'contact'}}Contact us{{/link-to}}{{/link-to}}
          </ul>
          <button class='btn btn-default navbar-btn navbar-right' type='button'>Sign in</button>
        </div>
      </div>
    </div>
	  {{outlet}}
      <hr class='featurette-divider'>
      <footer>
        <p>
          © 2014 Company, Inc. ·
          <a href='#'>Privacy</a>
          ·
          <a href='#'>Terms</a>
        </p>
      </footer>
    </div>
