<div class='container'>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <h2 class='panel-title'>Contact Infomation</h2>
    </div>
    <div class='panel-body'>
      <p>
	  	sells: sales@nzud.co.nz
      </p>
      <p>
	  	tel: +64278888888
      </p>
    </div>
  </div>
  <hr class='featurette-divider'>
</div>
