<div class='ui basic segment'>
  <div class='ui piled segment'>
  	<h3 class='ui header'>Contact Infomation</h3>
  	<p>
  		sells: sales@nzud.co.nz
  	</p>
  	<p>
  		tel: +64278888888
  	</p>
  </div>
</div>
